<div *ngIf="loading; else loaded;" style="float: center;padding:10% 30% 30% 30%">
    <div class="card" >
        <div class="header">
            <div class="text-center">
                <img src="../../assets/img/person.png" style="width:30%;height:30%"alt=""><br/>
                <h4 class="title">Login To Online BMS Software </h4>
            </div>
        </div>
        <div class="">
            <form #barFrom="ngForm" (ngSubmit)="onDataSubmit()">
                <div class="col-md">
                    <div class="form-group">
                        UserName : <input type="text" class="form-control border-input" name="username" [(ngModel)]="username" placeholder="Enter Your UserName Ex.(v@v.com)" />
                    </div>
                    <div class="form-group">
                        Password : <input type="password" class="form-control border-input" name="password" [(ngModel)]="password" placeholder="Enter Password" />
                    </div>
                </div>
                 <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Login</button>
                        <a href="/"><button type="button" class="btn btn-info btn-fill btn-wd">Reset</button></a>
                 </div>
            </form>
            <div *ngIf="loging" class="text-center">
                <div class="loader"></div>
            </div>
        </div>
    </div>  
</div>
<ng-template #loaded>
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->
</ng-template>