<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://vany.is-best.net">
                        V & Y Soft. Tech. Pvt. Ltd.
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://vany.is-best.net">V & Y Team</a>
        </div>
    </div>
</footer>
