<div *ngIf="loading; else loaded;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Sales Stock Statement</h4>
                        <p class="category">Loading ........</p>
                    </div>
                    <div class="text-center">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loaded>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Sales Stock Statement</h4>
                        <p class="category">Here is listed the of Sales stock Statement</p>
                        <button type="button" (click)="exportAsExcelFile()" style="float: right"  class="btn btn-info btn-fill btn-wd">Export As Excel Sheet</button>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table id="SalesState" class="table">
                            <thead>
                              <tr ><th colspan="10" style="text-align:center;"><b>SALE</b></th></tr>
                              <tr>
                                <th></th>
                                <th colspan="6"><b>Beer</b></th>
                                <th colspan="3"><b>Wine</b></th>
                              </tr>
                              <tr>
                               <th><b>Item Name</b></th>
                                <th *ngFor="let item of itemSizeBeer"><b>{{item}}</b></th>
                                <th *ngFor="let item of itemSizeWine"><b>{{item}}</b></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of itemNameArray" >
                                <td>{{item.name}}</td>
                                <td>{{item["1500"]}}</td>
                                <td>{{item["1000"]}}</td>
                                <td>{{item["650"]}}</td>
                                <td>{{item["500"]}}</td>
                                <td>{{item["330"]}}</td>
                                <td>{{item["325"]}}</td>
                                <td>{{item["750"]}}</td>
                                <td>{{item["375"]}}</td>
                                <td>{{item["180"]}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="text-center" style="padding-bottom:35px">
                        <a href="/SalesState"><button type="button" class="btn btn-info btn-fill btn-wd">Go Back</button></a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>